---
import Layout from "../../layouts/Layout.astro"
import BentoItem from "../BentoItem.astro"
import Footer from "../Footer.astro"
import HeroContainer from "../HeroContainer.astro"
---


<Layout title="About Us" description="ghghg">
    <video class="w-full h-[90vh] object-cover object-top animated-ease-in-out animate-fade animate-duration-1000"
 src="/experience.mp4"
 autoplay
 loop
 muted
 style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);">
    </video>
        <h1
          class="text-4xl md:text-6xl lg:text-8xl font-semibold text-center"
        >
          About Us
        </h1>
    <main>
        <section
        class="relative z-10 mx-auto my-24 max-w-[1200px] text-pretty px-6 text-left text-xl sm:px-20"
      >
        <h1
          class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
        >
          <img
            src="./text-logo.svg"
            class="w-[400px] pt-10 text-center mx-auto mb-10 tracking-wide"
          />
        </h1>
        <p>
            Bienvenido a <strong>Café Grano</strong>, donde la pasión por el café se fusiona con la tradición y la innovación.
        </p>
        <p>
            En <strong>Café Grano</strong>, nuestra historia comienza en los majestuosos campos de café de América Latina, donde cada grano es cuidadosamente seleccionado por manos expertas que han heredado el arte de cultivar el café durante generaciones. Nos enorgullece traer lo mejor de estas tierras lejanas directamente a tu taza, asegurando que cada sorbo cuente una historia de calidad y dedicación.
        </p>
        <p>
            Nuestro compromiso con la excelencia se refleja en cada etapa de nuestro proceso, desde la cosecha hasta la taza. Trabajamos en estrecha colaboración con pequeños productores locales, apoyando prácticas sostenibles que respetan tanto a las comunidades como al medio ambiente. Cada grano es tostado con <strong>amor</strong> y precisión en nuestras instalaciones, liberando aromas <strong>ricos</strong> y sabores <strong>complejos</strong> que deleitan los sentidos.
        </p>
        <p>
            En <strong>Café Grano</strong>, no solo nos esforzamos por ofrecerte el mejor café, sino que también nos esforzamos por crear un espacio donde puedas disfrutar de momentos significativos. Nuestras cafeterías son lugares acogedores donde puedes relajarte, conectarte con amigos y sumergirte en la cultura del café. Nuestros baristas expertos están aquí para guiarte en un viaje <strong>sensorial</strong>, desde el primer aroma tentador hasta el último sorbo <strong>satisfactorio</strong>.
        </p>
        <p>
            Estamos comprometidos a compartir nuestra pasión por el café contigo, ofreciendo una experiencia auténtica que va más allá de la bebida en sí. Únete a nosotros en <strong>Café Grano</strong> y descubre un mundo de sabores auténticos, tradición arraigada y momentos memorables, taza tras taza.
        </p>
        <p>
            ¡Gracias por ser parte de nuestra historia!
        </p>
      </section>
  
      <section
        class={`
      w-full max-w-[1400px]
      grid lg:grid-col-10 auto-rows-[30rem] gap-4 
      mx-auto p-6 md:p-12 lg:p-20
      `}
      >
        <BentoItem class="col-span-10 md:col-span-4" title="In Store">
          <div
            slot="image"
            class="background transition-scale absolute bottom-0 left-0 top-0
          -z-10 h-full w-full
          bg-cover bg-end bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
            style="background-image: url('/instore.jpg')"
          >
          </div>
          <p slot="content" class="max-w-xl text-base md:text-lg">
            En nuestras tiendas te esperan nuestros baristas capacitados para
            ofrecerte una bebida <strong>muy especial</strong>. El ambiente <strong
              >cálido</strong
            > y los detalles de nuestros productos elaborados <strong
              >artesanalmente</strong
            > hacen que la experiencia sea única e inigualable.
          </p>
        </BentoItem>
      </section>
  
      
    </main>
    <Footer />
</Layout>