---
import Layout from "../../layouts/Layout.astro";
import HeroContainer from "../HeroContainer.astro";
import Footer from "../Footer.astro";
import BentoItem from "../BentoItem.astro";
---

<Layout title="Experiencias" description="ghghg">
  <HeroContainer img="./cafe.jpeg">
    <h1
      class="text-8xl font-semibold absolute top-60 z-10 w-[400px] left-40 right-0 m-auto mb-10 justify-center items-center"
    >
      CAFE
    </h1>
  </HeroContainer>
  <main>
    <section
      class="relative z-10 mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20"
    >
      <img src="./cafe-logo.svg" class="w-20 m-auto mb-10 invert" />
      <h1
        class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
      >
        Nuestro café <img
          src="./text-logo.svg"
          class="w-[200px] pt-10 text-center mx-auto mb-10 tracking-wide invert"
        />
      </h1>
      <p>
        El olor al café, a unos granos recién tostados, es la mejor bienvenida
        que cada día planificamos para brindarles cuando abrimos las puertas de
        nuestras tiendas. Pero eso es sólo el comienzo.
      </p>
    </section>

    <section
      class={`
    w-full max-w-[1400px]
    grid lg:grid-col-10 auto-rows-[30rem] gap-4 
    mx-auto p-6 md:p-12 lg:p-20
    `}
    >
      <BentoItem class="col-span-10 md:col-span-2" title="Nuestro tostado">
        <div
          slot="image"
          class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-end bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
          style="background-image: url('/instore.jpg')"
        >
        </div>
        <p slot="content" class="max-w-xl text-base md:text-lg">
          Cada café que ofrecemos exige un perfil de tostado único para crear
          una taza con el máximo aroma, acidez, cuerpo y sabor. Al trabajar en
          un delicado balance en calor, tiempo y arte, nuestros maestros en el
          tostado hacen resaltar estas únicas características de cada grano de
          café.
        </p>
      </BentoItem>

      <BentoItem class="col-span-10 md:col-span-2" title="Drive Thru">
        <div
          slot="image"
          class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
          style="background-image: url('/drive-thru.jpeg')"
        >
        </div>
        <p slot="content" class="max-w-xl text-base md:text-lg">
          Retirá y viví la <strong>Experiencia Grano</strong>.
        </p>
      </BentoItem>

      <BentoItem
        class="col-span-10 md:col-span-4"
        title="Descubre los métodos de preparación en Starbucks, ¿Cuál es el correcto para vos?"
      >
        <div
          slot="image"
          class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full
        bg-cover bg-start bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out"
          style="background-image: url('/delivery.jpeg')"
        >
        </div>
        <p slot="content" class="max-w-xl text-base md:text-lg">
          Desde el cultivo responsable hasta el tostado, cada detalle en la
          elaboración de manera artesanal es fundamental para poder disfrutar de
          una taza de café Starbucks. Y además de la esencia de los granos,
          sabemos que la forma en la que se prepara el café tiene un efecto
          sorprendente en el sabor de cada taza y define su cuerpo.
        </p>
      </BentoItem>
    </section>

    <Footer />
  </main>
</Layout>
