---
import BentoItem from "./BentoItem.astro";
---

<section
  class={`
    w-full max-w-[1400px]
    grid lg:grid-col-10 auto-rows-[30rem] gap-4 
    mx-auto p-6 md:p-12 lg:p-20
    `}
>
  <BentoItem
    class="col-span-10 md:col-span-4"
    title="Selección de Granos"
    subtitle="Descubre una gama de sabores únicos provenientes de los rincones más selectos del mundo del café."
  >
  <div 
  slot="image"
  class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-amber-900	
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
  style="background-image: url('./granos.webp')"
>
  </div>
    <p slot="content"
    class="max-w-xl text-base md:text-lg">
      Descubre una gama de sabores únicos provenientes de los <strong
        >rincones más selectos</strong
      > del mundo del café.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Sabor Auténtico"
    subtitle="Siente la esencia pura del café en cada sorbo, preparado con cuidado y amor por nuestros baristas expertos."
  >
  <div 
  slot="image"
  class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full bg-amber-900
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
  style="background-image: url('./cafe.webp')"
>
  </div>
    <p slot="content" class="max-w-xl text-base md:text-lg">
      Siente la <strong>esencia pura</strong> del café en cada sorbo, preparado con
      cuidado y amor por nuestros baristas expertos.
    </p>
  </BentoItem>

  <BentoItem
    class="col-span-10 md:col-span-6"
    title="Experiencias Únicas"
    subtitle="Sumérgete en un ambiente acogedor y vive momentos memorables mientras disfrutas de nuestro café artesanal y deliciosa repostería."
  >
  <div 
  slot="image"
  class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-amber-900
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
  style="background-image: url('/molino.webp')"
>
  </div>
    <p slot="content"
    class="max-w-xl text-base md:text-lg">
      Sumérgete en un ambiente acogedor y vive momentos memorables mientras
      disfrutas de nuestro café artesanal y <strong
        >deliciosa repostería.</strong>
    </p>
  </BentoItem>

  <BentoItem class="col-span-10 md:col-span-4" title="Pasión por el Café">
  <div 
  slot="image"
  class="background transition-scale absolute bottom-0 left-0 top-0
        -z-10 h-full w-full bg-amber-900
        bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
  style="background-image: url('/pasion.jpeg')"
>
  </div>
    <p slot="content"
    class="max-w-xl text-base md:text-lg">
      Descubre la <strong>pasión</strong> que ponemos en cada taza, desde la cuidadosa
      selección de granos hasta la preparación con esmero por nuestro equipo.
    </p>
  </BentoItem>
</section>

