---
import BentoItem from './BentoItem.astro'
---

<section 
    class={`
    w-full max-w-[1400px]
    grid grid-col-10 auto-rows-[35rem] gap-4m-auto p-20
    `}
>
    <BentoItem></BentoItem>

</section>