
  <nav id="header-nav"
     class="
     fixed
       flex flex-wrap
       items-center
       justify-between
       w-full
       py-4
       md:py-0
       px-4
       text-lg white
       z-50
     "
   >
    <div class="z-50">
       <a href="#">
        <img src="./text-logo.svg" alt="Logo Grano Coffee">
       </a>
     </div>
    
      <svg
         xmlns="http://www.w3.org/2000/svg"
         id="menu-button"
         class="h-6 w-6 cursor-pointer md:hidden block invert"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
       >
         <path
           stroke-linecap="round"
           stroke-linejoin="round"
           stroke-width="2"
           d="M4 6h16M4 12h16M4 18h16"
         />
       </svg>
    
    <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
       <ul
         class="
           pt-4
           text-base text-white
           md:flex
           md:justify-between 
           md:pt-0"
       >
         <li>
           <a class="md:p-4 py-2 block font-semibold hover:text-black" href="/"
             >Home</a
           >
         </li>
         <li>
           <a class="md:p-4 py-2 block font-semibold hover:text-black" href="/menu"
             >Menu</a
           >
         </li>
         <li>
           <a class="md:p-4 py-2 block font-semibold hover:text-black" href="/cafe"
             >Cafe</a
           >
         </li>
         <li>
           <a class="md:p-4 py-2 block font-semibold hover:text-black" href="/experience"
             >Experiencias</a
           >
         </li>
         <li>
           <a
             class="md:p-4 py-2 block font-semibold hover:text-white text-amber-700"
             href="/about"
             >About Us</a
           >
         </li>
       </ul>
     </div>
 </nav>

 <script>const button = document.querySelector('#menu-button');
  const menu = document.querySelector('#menu');
  
  
  button.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
  </script>