<header id="header-nav" class="fixed flex shadow-md py-4 px-4 sm:px-10 font-[sans-serif] min-h-[70px] w-full tracking-wide z-50">
  <div class="flex flex-wrap items-center justify-between gap-5 w-full">
    <a href="/"><img src="text-logo.svg" alt="logo" class="w-36 invert" /></a>

    <!-- Menú para tablet y dispositivos más pequeños -->
    <div class="btn-group">
      <button id="toggleMenu" type="button" class="btn btn-secondary dropdown-toggle" aria-expanded="false">
        MENU
      </button>
      <ul id="menuList" class="dropdown-menu dropdown-menu-end hidden lg:hidden">
        <li><button class="dropdown-item" type="button">Home</button></li>
        <li><button class="dropdown-item" type="button">Menu</button></li>
        <li><button class="dropdown-item" type="button">Cafe</button></li>
        <li><button class="dropdown-item" type="button">Experience</button></li>
        <li><button class="dropdown-item" type="button">About</button></li>
      </ul>
    </div>
    

    <!-- Menú para dispositivos más grandes -->
    <div class="hidden lg:flex gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50">
      <a href="/" class="text-white hover:opacity-100 opacity-70 transition-opacity duration-300 block">
        Home</a>
      <a href="/menu" class="text-white hover:opacity-100 opacity-70 transition-opacity duration-300 block">
        Menu</a>
      <a href="/cafe" class="text-white hover:opacity-100 opacity-70 transition-opacity duration-300 block">
        Cafe</a>
      <a href="/experience" class="text-white hover:opacity-100 opacity-70 transition-opacity duration-300 block">
        Experience</a>
      <a href="/about" class="text-white hover:opacity-100 opacity-70 transition-opacity duration-300 block">
        About</a>
    </div>
  </div>
</header>

<script>
  import $ from 'jquery';

  $(function() {
    $('#toggleMenu').on('click', function() {
      $('#menuList').toggle();
    });
  });
</script>
