---
import Logo from "./Logo.astro";
---
<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto my-24">
    <Logo class="w-20 text-white m-auto mb-10"/>
    <h1 class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        GRAN0:<br /> disfruta de momentos de sabor y calidez
    </h1>
    <p class="">
        <strong>En Grano,</strong> nuestra pasión por el café se refleja en cada detalle.
        Cada taza cuenta una historia única, donde la <strong>calidad</strong> y la <strong>dedicación</strong> se fusionan en cada sorbo.
    </p>
    <p>Únete a nosotros y sumérgete en un mundo de <strong>sabores auténticos,</strong> 
        donde cada grano es seleccionado con esmero y cada preparación es un acto de arte.
    </p>
    <p><strong>Bienvenido</strong> a una experiencia que va más allá del café, donde cada 
        visita es un viaje sensorial en <strong>Grano.</strong>
    </p>


</section>