<section class="w-full p-20 max-w-[1400px] mx-auto">
<h3 class="uppercase text-4xl tracking-wide text-center font-semibold mb-10 text-balance
mx-auto">Descubre la esencia de Grano: Un viaje visual a través de nuestra cafetería</h3>

<lite-youtube
class="shadow-2xl shadow-white/10 rounded-xl"
videoid="lAd3LYIZMjs"
videotitle="Descubre la esencia de Grano: Un viaje visual a través de nuestra cafetería">

</lite-youtube>
</section>

<script>
    import "@justinribeiro/lite-youtube"
</script>